@page "{ticketId:int}"
@model PestControl.Web.Pages.Tickets.AssignUserModel
@{
    ViewData["Title"] = "Assign Users";
}


<h2> Assigne Users to @Model.Ticket.Title </h2>

@if (Model.Message != null)
{
    <div class="alert alert-info">
        @Model.Message
    </div>
}

<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

<!--Assigned Users-->
@if (Model.Ticket.AssignedUser != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Ticket.AssignedUser.UserName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Ticket.AssignedUser.Email)</th>
                <th scope="col"></th>
            </tr>

        </thead>
        <tbody>
             <tr>
                    <td scope="row"> @Model.Ticket.AssignedUser.UserName</td>
                    <td> @Model.Ticket.AssignedUser.Email</td>
                    <td>
                        <form asp-page-handler="remove" mothod="post">
                            <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                            <input type="hidden" asp-for="Ticket.Id" />
                        </form>
                    </td>

                </tr>
            
        </tbody>
    </table>
}




<!--All Users-->
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Users.Single().UserName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Users.Single().Email)</th>
            <th scope="col"></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td scope="row">@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @if(Model.Ticket.AssignedUser == null) { 
                    <form asp-page-handler="assign" mothod="post">
                        <button type="submit" class="btn btn-primary btn-sm">Assign</button>
                        <input type="hidden" name="assignedUserId" value="@user.Id" />
                        <input type="hidden" asp-for="Ticket.Id" />
                    </form>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>

<a asp-page="/Tickets/Details" asp-route-ticketId="@Model.Ticket.Id" class="btn btn-primary">Done</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}

