@using TicketControl.Data.Models
@using System.ComponentModel.DataAnnotations
@model IEnumerable<Ticket>
@{
}


<div class="card card-shadow mt-3">
    <!--Had to use 99% width becase for the other 1% the scrollX would showup-->
    <table class="table" style="width:99%" id="ticketTable">
        <thead class="thead-dark text-gray-200">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Single().Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Single().Title)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Single().Project)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Single().Priority)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Single().Status)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Single().Type)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Single().DateCreated)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {

                <tr>
                    <td scope="row">@ticket.Id</td>
                    <td>@ticket.Title</td>
                    <td>@ticket.Project.Name</td>
                    <td>@ticket.Priority</td>

                    @{
                        var status = ticket.Status.GetAttribute<DisplayAttribute>();
                    }
                    <td> @Html.DisplayName(status.Name) </td>
                    <td> @ticket.Type</td>
                    <td> @ticket.DateCreated.Date</td>
                    <td >
                        <div class="row ">
                            <div class="col-md-6 col-xl-6 col-lg-6 col-sm-6  p-0 ">
                                <a class="btn btn-info btn-sm btn-block"
                                   asp-page="/Tickets/Details"
                                   asp-route-ticketId="@ticket.Id">
                                <span class="text-center"><i class="fas fa-info"></i></span></a>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="col-md-6 col-xl-6 col-lg-6 col-sm-6 p-0">
                                    <a class="btn btn-primary btn-sm btn-block"
                                       asp-page="/Tickets/Edit"
                                       asp-route-ticketId="@ticket.Id">
                                        <span class="text-center"><i class="fas fa-edit"></i></span>
                                    </a>
                                </div>
                                <div class="col-md-6 col-xl-6 col-lg-6 col-sm-6 p-0 ">
                                    <a class="btn btn-success btn-sm btn-block"
                                        asp-page="/Tickets/AssignUser"
                                        asp-route-ticketId="@ticket.Id">
                                    <span class="text-center"><i class="fas fa-file-contract"></i></span>
                                    </a>
                                </div>
                                    
                                <div class="col-md-6 col-xl-6 col-lg-6 col-sm-6 p-0 ">
                                    <a class="btn btn-danger btn-sm btn-block"
                                        asp-page="/Tickets/Delete"
                                        asp-route-ticketId="@ticket.Id">
                                        <span class="text-center"><i class="fas fa-trash-alt"></i></span>
                                    </a>
                                </div>
                                    }
                        </div>
</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--Section scripts is not working in partial view-->



