@page
@model PestControl.Web.Pages.Identity.RegisterModel
@{
    Layout = "_RestrictedLayout";
    ViewData["Title"] = "Register new account";

}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
</div>
<div asp-validation-summary="All" class="text-danger"></div>
<form class="user" method="post">

    <!--User Name-->
    <span asp-validation-for="Input.UserName" class="text-danger"></span>
    <div class="form-group">
        <input type="text" asp-for="Input.UserName" class="form-control form-control-user"
                aria-describedby="emailHelp"
                placeholder="@Html.DisplayNameFor(model => model.Input.UserName)">
    </div>

    <!--Email-->
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    <div class="form-group">
        <input asp-for="Input.Email" type="email"
                class="form-control form-control-user"
                placeholder="@Html.DisplayNameFor(model => model.Input.Email)">

    </div>
    <!--Password-->
    <span asp-validation-for="Input.Password" class="text-danger"></span>
    <div class="form-group">
        <input asp-for="Input.Password" type="password" 
                class="form-control form-control-user"
                placeholder="@Html.DisplayNameFor(model => model.Input.Password)">
                    
    </div>
    <!--ComfirmPassword-->
    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" type="password"
                class="form-control form-control-user"
                placeholder="@Html.DisplayNameFor(model => model.Input.ConfirmPassword)">

    </div>


    <!--Submit-->

    <button type="submit" class="btn btn-primary btn-user btn-block">
        Register
    </button>


</form>

<hr />
<div class="text-center">
    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">I already have a membership</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
